.mainHeader{
    color: black;
    font-size: 24px;
    padding-left: 35%;
    background-color: rgb(249, 198, 198);
    padding-right: 40%;
    position: relative;
    left: 152px;
    height: 60px;
}