<div class="sidebar">
    <ul class="navbar-nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="#" class="d-flex align-items-center justify-content-center">
          <img class="logo" src="assets/logo.png" alt="Logo">
        </a>
      </li>
      <hr class="sidebar-divider my-0">
    
      <li>
        <a routerLink="/users" class="nav-link userText">Users</a>
      </li>
      <li>
        <a routerLink="/recipes" class="nav-link recipeText">Recipes</a>
      </li>
    </ul>
  </div>
  